@{
    ViewBag.Title = "Practica 1 - Lista de Ejercicios";
}

<h2>Practica 1</h2>
<h3>Lista de Ejercicios</h3>
<ul>
    <li>
        <a href="@Url.Action("Ejecici01", "PracticaNro1Vsitas")"> Ejercicio 1</a>
    </li>
</ul>
